/* EditAttendancePage */
.editattendancepage-main {
    background-color: #152956;
    height: 100vh;

    & .editattendancepage-container {
        width: 85%;
        background-color: #1e70f2;
        border-radius: 2rem;
        margin: 2rem;
        padding: 2rem;

        & h2 {
            text-align: center;
            font-size: 5rem;
            padding: 3rem;

        }

        & .editattendancepage-table {
            font-size: 8rem;
            text-align: left;
            table-layout: fixed;
            margin: 2rem;

            & table {
                width: 95%;
                margin: 2rem;
            }

            & .editattendancepage-heading {
                font-size: 1.6rem;
                width: 75%;
            }

            & table,
            td,
            th,
            tr {
                margin-left: 2rem;
                border: 0.1rem solid black;
                padding: 1.2rem;
                border-collapse: collapse;
            }
        }

        & .editattendancepage-submit {
            text-align: center;
            display: flex;
            justify-content: center;
            align-content: center;

            & button {
                padding: 1rem;
                margin: 2rem;
                font-size: 2rem;
                color: white;
                background-color: #152956;
                border: none;
                font-weight: 700;
                border-radius: 1rem;
            }
        }
    }
}

/* FCreateAttendance */
.fcreateattendance-main {
    font-size: 2rem;
    display: flex;
    height: 100vh;
    background-color: #152956;

    & .fcrateAttendance-container {
        width: 85%;
        background-color: #1e70f2;
        border-radius: 2rem;
        margin: 2rem;
        padding: 2rem;

        & .createAtten-header {
            display: flex;

            & button {
                font-size: 2rem;
                padding: 1rem;
                border: none;
                background-color: #152956;
                color: white;
            }
        }

        & .createAtten-content {
            padding: 2rem 0;

            & .createAtten-form {
                display: flex;
                gap: 5rem;

                & input {
                    font-size: 1.6rem;
                    padding: 0.8rem;
                    font-style: italic;
                }

                & button {
                    font-size: 1.6rem;
                    padding: 0.8rem;
                    font-style: italic;
                    border: none;
                    background-color: #152956;
                    color: white;
                }
            }
        }

        & .createAtten-data {
            padding: 1rem 0;

            & h2 {
                font-size: 2.4rem;
                margin-left: 1rem;
            }

            & .createAtten-table {
                text-align: left;
                margin: 1rem;
                table-layout: fixed;
                border-collapse: collapse;

                & table {
                    width: 95%;
                    margin: 2rem;
                }

                & table,
                td,
                th,
                tr {
                    margin-left: 2rem;
                    border: 0.1rem solid black;
                    padding: 1.2rem;
                    border-collapse: collapse;
                }

                & button {
                    font-size: 1.2rem;
                    padding: 1rem;
                    border: none;
                    background-color: #152956;
                    color: white;
                    border-radius: 1rem;
                }
            }
        }
    }
}

/* FDashboard */
.fdashboard-main {
    display: flex;
    background-color: #152956;
    height: 100vh;

    & .faculty-dashboard-container {
        width: 85%;
        background-color: #1e70f2;
        border-radius: 2rem;
        margin: 2rem;
        padding: 2rem;

        & .dash-header {
            display: flex;
            gap: 3rem;

            & img {
                width: 8rem;
                border-radius: 50%;
            }

            & .header-dash-containt {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                align-content: center;
                flex-wrap: wrap;

                & h1 {
                    font-size: 1.6rem;
                    font-style: italic;
                }
            }
        }

        & .dash-body {
            padding: 2rem 0;

            & h5 {
                padding: 1rem;
                font-size: 3rem;
            }
        }
    }
}

/* FSidebar */
.sidebar-container {
    width: 15%;

    & .sidebar-content {
        display: flex;
        align-items: center;
        justify-content: center;
        align-content: center;
        flex-wrap: wrap;
        padding: 5rem 0;

        & ul li {
            list-style: none;
            font-size: 2rem;
            padding: 1rem 0;

            & a {
                text-decoration: none;
                color: rgb(250, 250, 250);
            }
        }
    }
}

/* FValidateStudent */
.validatestudent-main {
    background-color: #152956;
    display: flex;
    height: 100vh;

    & .validatestudent-container {
        width: 85%;
        background-color: #1e70f2;
        border-radius: 2rem;
        margin: 2rem;
        padding: 2rem;

        & h1 {
            font-size: 4rem;
        }
    }
}

/* FViewAttendance */
.fviewattendance-main {
    background-color: #152956;
    display: flex;
    height: 100vh;

    & .fviewattendance-container {
        width: 85%;
        background-color: #1e70f2;
        border-radius: 2rem;
        margin: 2rem;
        padding: 2rem;

        & h2 {
            font-size: 3rem;
        }

        & .fviewattendance-table {
            text-align: left;
            margin: 3rem 0;
            table-layout: fixed;
            border-collapse: collapse;
            width: 95%;
            & table,
            td,
            th,
            tr {
                margin-left: 2rem;
                border: 0.1rem solid black;
                padding: 1.2rem;
                border-collapse: collapse;
                font-size: 1.5rem;
            }
        }
    }
}